menuconfig FIH_CONFIG_GROUP
    bool "FIH Configurations Group"
    default y
    help
        Turn on this group to enable FIH's configurations menu

if FIH_CONFIG_GROUP
    comment "FIH Project Flags for FIH_CONFIG_GROUP"

    choice
        prompt "Select a project name"
        default FIH_PROJECT_S3A

        config FIH_PROJECT_S3A
            bool "01. FIH_PROJECT_S3A"
            help
                Enable the support for FIH_PROJECT_S3A flag
    endchoice

    # --- FIH_PROJECT_S3A{-------------------------------------------------- START
    # ***********************************************************
    # Project configurations for FIH_PROJECT_S3A
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_S3A"
        depends on FIH_PROJECT_S3A
        config FIH_FTM
            bool "FIH_FTM"
            default n
            help
                Enable/Disable the build flag FIH_FTM.

        config FIH_SEMC_S1
            bool "FIH_SEMC_S1"
            depends on FIH_PROJECT_S3A
            default n
            help
                Enable/Disable SEMC S1 boot for S3A.

        config FIH_MACH_S3A
            bool "FIH_MACH_S3A"
            depends on FIH_PROJECT_S3A
            default y
            help
                Enable/Disable the build flag FIH_MACH_S3A.

        config PN544_I2C_NFC
			tristate "PN544 NFC driver"
			depends on I2C
			select CRC_CCITT
			default n
			---help---
	  			Say yes if you want PN544 Near Field Communication driver.
	  			This is for i2c connected version. If unsure, say N here.
	  			To compile this driver as a module, choose m here. The module will
	  			be called pn544.

        #PERI-BJ-LED_Porting-00+{
        config FIH_PWM_LED
            bool "FIH PWM LED"
            default y
            ---help---
            Support for PWM LED of FIH.
        #PERI-BJ-LED_Porting-00+}

        #MTD-SW3-PERIPHERAL-AC-SENSOR_Porting-00+{
        config FIH_SENSOR
            bool "FIH Sensors"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Support for FIH senosr drivers

        config FIH_GSENSOR_BMA250
            bool "Acceleration Sensor: BMA250"
            depends on I2C && FIH_SENSOR
            default y
            help
                Support for Bosch's sensor BMC050.

        config SENSORS_BMM050
	    tristate "BMM050 Magnetic Sensor Driver"
	    depends on I2C && FIH_SENSOR
            default y
	    help
	       BMM050 Magnetic Sensor Driver implemented by Bosch-Sensortec.

        config SENSORS_CM36283
	    tristate "CM36283 Proximity sensor and Ambient light sensor driver"
	    depends on I2C && FIH_SENSOR
            default y
            help
	        CM36283 Proximity sensor and Ambient light sensor drivers
        #MTD-SW3-PERIPHERAL-AC-SENSOR_Porting-00+}
        
        # FIH-SW-MM-MC-BringUpCameraRawSensorS5k4e1-00+[
        config FIH_CAMERA
            bool "FIH Camera"
            depends on FIH_PROJECT_S3A && MSM_CAMERA
            default y
            help
                If you say yes here you get support for FIH Camera.
                
        config S5K4E1
            bool "Sensor S5K4E1 (Samsung 5M)"
            depends on FIH_CAMERA
            default y
            ---help---
            Support for S5K4E1 sensor driver (5M raw sensor).
        
        config S5K4E1_2ND
            bool "Sensor S5K4E1 (Samsung 5M) 2nd source"
            depends on FIH_CAMERA
            default y
            ---help---
            Support 2nd source for S5K4E1 sensor driver (5M raw sensor).

        config MSM_CAMERA_FLASH_LM3642
            bool "Flash LED driver IC LM3642 (Texas Instruments)"
            depends on S5K4E1 
            default y
            ---help---
            Enable LM3642 driver IC for flash LED.

        config AR0543
            bool "Sensor AR0543 (Aptina 5MP)"
            depends on FIH_CAMERA
            default y
            ---help---
            Support for AR0543 sensor driver (5M raw sensor).

        config HM03D5
            bool "Sensor HM03D5 (Himax VGA)"
            depends on FIH_CAMERA
            default y
            ---help---
            Support for HM03D5 sensor driver (VGA SOC sensor).

#FIH-SW-MM-VH-DISPLAY-NICKI-04+[
    config FIH_SW_DISPLAY
            bool "FIH display driver"
            default n
            help
                FIH display driver.
    config FIH_SW_DISPLAY_BACKLIGHT_CMD_QUEUE
            depends on FIH_SW_DISPLAY
            bool "Enable backlight command queue"
            default n
            help
                Queuing backlight commands before pan display, and send after pan display.

    config FIH_NICKI_SS_MR2_MODEM
            depends on FIH_PROJECT_S3A
            bool "Nicki SS JB_MR2 Modem"
            default n
            help
                Suport for Nicki single sim jb mr2 modem.
    endmenu
    # --- FIH_PROJECT_S3A}-------------------------------------------------- END
endif
