menuconfig FIH_CONFIG_GROUP
    bool "FIH Configurations Group"
    default y
    help
        Turn on this group to enable FIH's configurations menu

if FIH_CONFIG_GROUP
    comment "FIH Project Flags for FIH_CONFIG_GROUP"

    choice
        prompt "Select a project name"
        default FIH_PROJECT_S3A

        config FIH_PROJECT_S3A
            bool "01. FIH_PROJECT_S3A"
            help
                Enable the support for FIH_PROJECT_S3A flag
    endchoice

    # --- FIH_PROJECT_S3A{-------------------------------------------------- START
    # ***********************************************************    
    # Project configurations for FIH_PROJECT_S3A
    # ***********************************************************
    menu "Configurations for FIH_PROJECT_S3A"
        depends on FIH_PROJECT_S3A
        config FIH_FTM
            bool "FIH_FTM"
            default n
            help
                Enable/Disable the build flag FIH_FTM.

        config FIH_MACH_S3A
            bool "FIH_MACH_S3A"
            depends on FIH_PROJECT_S3A
            default y
            help
                Enable/Disable the build flag FIH_MACH_S3A.
 
        config FIH_SEMC_S1
            bool "FIH_SEMC_S1"
            depends on FIH_PROJECT_S3A
            default n
            help
                Enable/Disable SEMC S1 boot for S3A.
               
        config PN544_I2C_NFC
			tristate "PN544 NFC driver"
			depends on I2C
			select CRC_CCITT
			default n
			---help---
	  			Say yes if you want PN544 Near Field Communication driver.
	  			This is for i2c connected version. If unsure, say N here.
	  			To compile this driver as a module, choose m here. The module will
	  			be called pn544.

        #MTD-SW3-PERIPHERAL-BJ-LED_Porting-00+{
        config FIH_PWM_LED
            bool "FIH PWM LED"
            default y
            ---help---
            Support for PWM LED of FIH.
        #MTD-SW3-PERIPHERAL-BJ-LED_Porting-00+}

        #MTD-CONN-EH-USBPORTING-01+{
        config FIH_USB_CHARGING_WHEN_CONNECT_TO_PC_WHICH_UNDER_STANDBY_MODE
            bool "USB CHARGING WHEN CONNECT TO PC WHICH UNDER STANDBY MODE"
            default y
            help
                Select if you want CHARGING_WHEN_CONNECT_TO_PC_WHICH_UNDER_STANDBY_MODE.
        #MTD-CONN-EH-USBPORTING-01+}	
        
        # FIH-SW-MM-MC-BringUpCameraRawSensorS5k4e1-00+[
        config FIH_CAMERA
            bool "FIH Camera"
            depends on FIH_PROJECT_S3A && MSM_CAMERA
            default y
            help
                If you say yes here you get support for FIH Camera.
                
        config S5K4E1
            bool "Sensor S5K4E1 (Samsung 5M)"
            depends on FIH_CAMERA
            default y
            ---help---
            Support for S5K4E1 sensor driver (5M raw sensor).
        # FIH-SW-MM-MC-BringUpCameraRawSensorS5k4e1-00+]
        
        # FIH-SW-MM-MC-BringUpCameraRawSensorS5k4e1For2ndSource-00+[
        config S5K4E1_2ND
            bool "Sensor S5K4E1 (Samsung 5M) 2nd source"
            depends on FIH_CAMERA
            default y
            ---help---
            Support 2nd source for S5K4E1 sensor driver (5M raw sensor).
        # FIH-SW-MM-MC-BringUpCameraRawSensorS5k4e1For2ndSource-00+]
        
        # FIH-SW-MM-MC-BringUpLM3642ForCameraFlashLed-00+[
        config MSM_CAMERA_FLASH_LM3642
            bool "Flash LED driver IC LM3642 (Texas Instruments)"
            depends on S5K4E1 
            default y
            ---help---
            Enable LM3642 driver IC for flash LED.
        # FIH-SW-MM-MC-BringUpLM3642ForCameraFlashLed-00+]
        
        # FIH-SW-MM-UW-BringUpCameraRawSensorAR0543-00+{
        config AR0543
            bool "Sensor AR0543 (Aptina 5MP)"
            depends on FIH_CAMERA
            default y
            ---help---
            Support for AR0543 sensor driver (5M raw sensor).
        # FIH-SW-MM-UW-BringUpCameraRawSensorAR0543-00+}
        
        # MoneyVGA+[                
        config HM03D5
            bool "Sensor HM03D5 (Himax VGA)"
            depends on FIH_CAMERA
            default y
            ---help---
            Support for HM03D5 sensor driver (VGA SOC sensor).
        # MoneyVGA+]
        
        #MTD-SW3-PERIPHERAL-AC-SENSOR_Porting-00+{
        config FIH_SENSOR
            bool "FIH Sensors"
            depends on FIH_CONFIG_GROUP
            default y
            help
                Support for FIH senosr drivers

        config FIH_GSENSOR_BMA250
            bool "Acceleration Sensor: BMA250"
            depends on I2C && FIH_SENSOR
            default y
            help
                Support for Bosch's sensor BMC050.

        config SENSORS_BMM050
        	tristate "BMM050 Magnetic Sensor Driver"
        	depends on I2C && FIH_SENSOR
          default y
        	help
        	 BMM050 Magnetic Sensor Driver implemented by Bosch-Sensortec.

        config SENSORS_CM36283
        	tristate "CM36283 Proximity sensor and Ambient light sensor driver"
        	depends on I2C && FIH_SENSOR
          default y
        	help
        	 CM36283 Proximity sensor and Ambient light sensor drivers

        config SENSETEK_I2C_SENSORS
        	bool "SenseTek I2C Sensors"
        	depends on I2C && FIH_SENSOR
        	default n
        	help
        	  Say Y here, and a list of miscellaneous sensor drivers will be displayed.
        	  Everything that didn't fit into the other categories is here. This option
        	  doesn't affect the kernel.
        
        	  If unsure, say Y.
        
        if SENSETEK_I2C_SENSORS
        
        config STK_OPTICAL_SENSOR
        
        	bool "SenseTek Optical Sensors"
        	default y
        	help
        	  Say Y here, if you need ALS or PS+ALS.
        if STK_OPTICAL_SENSOR
        choice
        prompt "SenseTek Optical Sensor Type"
        default STK_PS
        depends on STK_OPTICAL_SENSOR
        config STK_ALS
        	bool "Only SenseTek Ambient Light Sensor Generic Driver"
        	help
        	  Choice this if you want to enable SenseTek ALS.
        	  ALS only, no proximity sensor.
        
        config STK_PS
        	bool "SenseTek Ambient Light Sensor + Proximity Sensor Generic Driver"
        	---help---
        	  Both support PS and ALS
        
        endchoice
        
        choice
        depends on STK_PS
        prompt "PS Driver Mode"
        default STK_PS_INT_MODE
        
        config STK_PS_DISTANCE_MODE
        	bool "Polling + Distance Mode"
        	---help---
        	Use polling thread to detect distance.
        	Driver will report "distance"(unit : 10um) as input event
        
        config STK_PS_SWITCH_MODE
        	bool "Polling + Switch Mode"
        	---help---
        	Use polling thread to detech near or far.
        	Driver will report "Near or Far" as input event
        
        config STK_PS_INT_MODE
        	bool "Interrupt + Switch Mode"
        	---help---
        	Use IC internal interrupt function to detect near or far.
        	Becareful, please don't forget to connect your INT-pin to the chip and
        	assign the correct IRQ number in your machine setting.
        endchoice
        
        choice
        depends on STK_ALS
        prompt "Select Sensor Model"
        default STK_ALS_GENERIC
        config STK_ALS_GENERIC
        	bool "STK2201/2203"
        	---help---
        	Support for STK2201 and STK2203 (Generic)
        
        config STK_ALS22x7
        	bool "STK2207/2217"
        	---help---
        	Support for STK2207 and STK2217
        config STK_ALS_220X_INT_MODE
            bool "STK2203 interrupt"
            ---help---
            Only for STK2203
        endchoice
        
        
        choice
        depends on (STK_ALS_GENERIC || STK_ALS_220X_INT_MODE)
        prompt "Select I2C Slave Address"
        default STK_ALS_SAHS_FLOAT
        config STK_ALS_SAHS_FLOAT
        	bool "SAHS is floating (0x20)"
        	---help---
        	0x20
        
        config STK_ALS_SAHS_PULL_LOW
            depends on (!STK_ALS_220X_INT_MODE)
        	bool "SAHS is pulling low (0x70)"
        	---help---
        	0x70
        
        config STK_ALS_SAHS_PULL_HIGH
            depends on (!STK_ALS_220X_INT_MODE)
        	bool "SAHS is pulling high (0x90)"
        	---help---
        	0x90
        
        endchoice
        
        
        choice
        depends on STK_PS
        prompt "Select I2C Slave Address"
        
        config STK_PS_0x90
        	bool "STK 3128 ADDR->GND or STK3101_90(0x90) or STK3131 or STK3163"
        	---help---
        	0x90
        
        config STK_PS_0xB0
        	bool "STK 3128 ADDR->VDD or STK3101_B0(0xB0)"
        	---help---
        	0xB0
        
        endchoice
        
        config STK_PS_ALS_USE_CHANGE_THRESHOLD
            depends on STK_PS_INT_MODE
            bool "Do NOT use lux look up-table for interrupt"
            ---help---
            Check this if you want get more fine signal for light sensor.
        
        
        config STK_ALS_CHANGE_THRESHOLD
        	int "ALS Change Threshold (Lux)"
        	depends on (STK_ALS||STK_PS_DISTANCE_MODE||STK_PS_SWITCH_MODE||STK_PS_ALS_USE_CHANGE_THRESHOLD)
        	default "20"
        	---help---
        	  To determine the data will be returned or not. (in read() )
        	  If difference >= Change Threshold ==>  the data will be returned
        	  If difference <  Change Threshold ==>  retrun 0 bytes
        
        config STK_ALS_SAMPLING_RATE
        	int "ALS Sampling rate for internal data polling (HZ)"
        	depends on ((STK_ALS||STK_PS_DISTANCE_MODE||STK_PS_SWITCH_MODE) && (!STK_ALS_220X_INT_MODE))
        	default "2"
        	---help---
        	  Depending on your r_set and IT.
        	  If unsured, please use the default value (2).
        config STK_PS_SAMPLING_RATE
        	int "PS Sampling rate for internal data polling (HZ)"
        	depends on (STK_PS_DISTANCE_MODE||STK_PS_SWITCH_MODE)
        	default "50"
        	---help---
        	  Depending on PS_IT and PS_SLP.
        	  Higher sampling rate will not gain any benefit, but more power consumption.
        	  (But for ARM-base system, it is too little to be able to ignore it.
        
        
        config STK_PS_CHANGE_THRESHOLD_NEAR
        	int "Proximity sensor change threshold @ SHORT DISTANCE (unit : 10um)"
        	depends on STK_PS_DISTANCE_MODE
        	default "400"
        	---help---
        	Default : 400 (means 0.4cm)
        
        config STK_PS_CHANGE_THRESHOLD_MID
        	int "Proximity sensor change threshold @ MID DISTANCE(unit : 10um)"
        	depends on STK_PS_DISTANCE_MODE
        	default "800"
        	---help---
        	Default : 800 (means 0.8cm)
        
        config STK_PS_CHANGE_THRESHOLD_FAR
        	int "Proximity sensor change threshold @ LONG DISTANCE (unit : 10um)"
        	depends on STK_PS_DISTANCE_MODE
        	default "4000"
        	---help---
        	Default : 4000 (means 4cm)
        
        config STK_PS_DISTANCE_HIGH_THRESHOLD
        	int "Proximity sensor high threshold (far) (unit : 10um)"
        	depends on STK_PS_DISTANCE_MODE
        ### 9 cm
        	default "9000"
        	---help---
        	Default 9000, it means 9cm
        
        config STK_PS_DISTANCE_LOW_THRESHOLD
        	int "Proximity sensor low (near) threshold (unit : 10um)"
        	depends on STK_PS_DISTANCE_MODE
        ### 5 cm
        	default "5000"
        	---help---
        	Default 5000, it means 5cm
        
        config STK_PS_CODE_LOW_THRESHOLD
        	int "Proximity sensor low (far) threshold (unit : code)"
        	depends on (STK_PS_INT_MODE || STK_PS_SWITCH_MODE)
        	default "40"
        	---help---
        	If ps_code < LOW_THD, it will trig interrupt.
        	Default value = 40, and it is able to modify in ENG/DBG mode.
        
        config STK_PS_CODE_HIGH_THRESHOLD
        	int "Proximity sensor high (near) threshold (unit : code)"
        	depends on (STK_PS_INT_MODE || STK_PS_SWITCH_MODE)
        	default "150"
        	---help---
        	If ps_code > HIGH_THD, it will trig interrupt.
        	Default value = 150, and it is able to modify in ENG/DBG mode.
        
        choice
        depends on STK_PS
        prompt "PS Sleep Time"
        default STK_PS_SLP01
        config STK_PS_SLP00
        	bool "Sleep Time = 10ms (SLP = 00)"
        config STK_PS_SLP01
        	bool "Sleep Time = 30ms (SLP = 01)"
        config STK_PS_SLP10
        	bool "Sleep Time = 90ms (SLP = 10)"
        config STK_PS_SLP11
        	bool "Sleep Time = 270ms (SLP = 11)"
        endchoice
        
        
        choice
        depends on STK_PS
        prompt "PS Integral Time"
        default STK_PS_IT00
        config STK_PS_IT00
        	bool "Integral Time = 200us (IT = 00)"
        config STK_PS_IT01
        	bool "Integral Time = 300us (IT = 01)"
        config STK_PS_IT10
        	bool "Integral Time = 400us (IT = 10)"
        config STK_PS_IT11
        	bool "Integral Time = 500us (IT = 11)"
        endchoice
        
        choice
        depends on STK_PS
        prompt "PS IR-LED Driving Current"
        default STK_PS_IRDR0
        config STK_PS_IRDR0
        	bool "Driving Current = 100mA (IRDR = 00)"
        config STK_PS_IRDR1
        	bool "Driving Current = 200mA (IRDR = 01)"
        endchoice
        
        config STK_PS_GAIN_SETTING
        	hex "Proximity sensor Gain Setting"
        	depends on STK_PS
        	default "0x08"
        	---help---
        	0x0f~0x0f (See Reg81h Setting in Manual)
        	If you don't understand this, please let it set to default value (0x08).
        
        config STK_ALS_TRANSMITTANCE
        	int "Transmittance (1/10,000)"
        	depends on (STK_ALS||STK_PS)
        	default "500"
        	---help---
        	 Depending on your cover lens and coating
         	 If unsured, please use the default value (500)
         	 500 means 5%
        
        config STK_SYSFS_DBG
            bool "Enable STK Optical Sensor Engineering Mode"
            depends on (STK_ALS||STK_PS)
            default n
            ---help---
            Provide serveral nodes to debug/tune performance or calbriate.
            It will be mounted on /sys/devices/platform/stk-oss/DBG.
        
        config STK_ALS_TRANSMITTANCE_TUNING
            depends on ((STK_ALS || STK_PS) && STK_SYSFS_DBG)
            bool "Enable STK ALS Transmittance Tuning"
            default n
            ---help---
            Provide a node on SYSFS to tune transmittance parameter to meet you mech.
            Usually, you should enable this fuction during the enginner testing period.
            And turn off this fuction in retail/release version.
        
        config STK_PS_ENGINEER_TUNING
            depends on (STK_PS && STK_SYSFS_DBG)
            bool "Enable STK PS Engineer Tuning"
            default n
            ---help---
            Mount a node on SYSFS to tune proximity sensor's parameter to meet you mech.
            Usually, you should enable this fuction during the enginner testing period.
            And turn off this fuction in retail/release version.
        
        endif # STK_OPTICAL_SENSOR
        
        config STK_SHOW_INFO
            bool "Show Debug Info"
            default y
            ---help---
            For debug
        #MTD-SW3-PERIPHERAL-AC-SENSOR_Porting-00+]
        endif # SENSETEK_I2C_SENSORS

        # FIH-KERNEL-HC-dynamically_disable_UART-00+[
        config FIH_REMOVE_SERIAL_DYNAMICALLY
            bool "turn off serial port dynamically"
            default n
            help
                turn off serial port dynamically
        # FIH-KERNEL-HC-dynamically_disable_UART-00+]


#FIH-SW-MM-VH-DISPLAY-NICKI-04+[
    config FIH_SW_DISPLAY
            bool "FIH display driver"
            default n
            help
                FIH display driver.
    config FIH_SW_DISPLAY_BACKLIGHT_CMD_QUEUE
            depends on FIH_SW_DISPLAY
            bool "Enable backlight command queue"
            default n
            help
                Queuing backlight commands before pan display, and send after pan display.
#FIH-SW-MM-VH-DISPLAY-NICKI-04+]
    endmenu
    # --- FIH_PROJECT_S3A}-------------------------------------------------- END
endif
