#
# Touchscreen driver configuration
#
config TOUCHSCREEN_SYNAPTICS_DSX_RMI4_I2C
	tristate "Synaptics DSX I2C touchscreen"
	depends on I2C
	help
	  Say Y here if you have a Synaptics DSX I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called synaptics_dsx_rmi4_i2c.

config TOUCHSCREEN_SYNAPTICS_DSX_RMI4_DEV
	tristate "Synaptics I2C touchscreen char device"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_RMI4_I2C
	help
	  This enables support for character device channel for Synaptics RMI
	  touchscreens.

config TOUCHSCREEN_SYNAPTICS_DSX_RMI4_FW_UPDATE
	tristate "Synaptics I2C touchscreen firmware update"
	depends on TOUCHSCREEN_SYNAPTICS_DSX_RMI4_I2C
	help
	  This enables support for firmware update for Synaptics RMI
	  touchscreens.

config FIH_TOUCH_TOOLS
        tristate "FIH touch tools"
        default n
        depends on TOUCHSCREEN_SYNAPTICS_DSX_RMI4_I2C
        select FIH_DEVELOPMENT_TOOL
        help
          This is touch tool.
